<% layout('layout/layout.ejs') -%>
<style>
  #password-eye,
  #confirmpassword-eye,
  #oldpassword-eye {
    cursor: pointer;
    position: relative;
    left: 98%;
    bottom: 28px;
  }
</style>
<body>
  <form action="/changepassword" method="post">
    <div style="width: 80%; margin: auto">
      <div class="mb-3">
        <label for="oldpassword" class="form-label">Old Password</label>
        <input
          type="password"
          name="oldpassword"
          class="form-control"
          id="oldpassword"
          placeholder="Enter Old Password"
        />
        <i class="fa-solid fa-eye-slash" id="oldpassword-eye"></i>
        <p id="oldpasswordp" style="color: red"></p>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
        />
        <i class="fa-solid fa-eye-slash" id="password-eye"></i>
        <p id="passwordp" style="color: red"></p>
      </div>
      <div class="mb-3">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          name="confirmpassword"
          class="form-control"
          id="confirmpassword"
          placeholder="Confirm Your Password"
        />
        <i class="fa-solid fa-eye-slash" id="confirmpassword-eye"></i>
        <p id="confirmpasswordp" style="color: red"></p>
      </div>
      <button class="btn btn-primary">Change Password</button>
    </div>
  </form>
</body>
<script>
  let form = document.querySelector("form");
  const password = document.getElementById("password");
  const confirmpassword = document.getElementById("confirmpassword");
  const oldpassword = document.getElementById("oldpassword");
  const passwordp = document.getElementById("passwordp");
  const confirmpasswordp = document.getElementById("confirmpasswordp");
  const oldpasswordp = document.getElementById("oldpasswordp");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    let submitbol=true;
    if (!password.value) {
      password.style.outline = "2px solid red";
      passwordp.innerHTML = "The password should not be empty";
      submitbol = false;
    } else if (password.value.length < 8) {
      password.style.outline = "2px solid red";
      passwordp.innerHTML = "The password should be eight character long ";
      submitbol = false;
    } else {
      password.style.outline = "2px solid green";
      passwordp.innerHTML = "Right";
      passwordp.style.color = "green";
    }
    if (!oldpassword.value) {
      oldpassword.style.outline = "2px solid red";
      oldpasswordp.innerHTML = "The password should not be empty";
      submitbol = false;
    } else if (oldpassword.value.length < 8) {
      oldpassword.style.outline = "2px solid red";
      oldpasswordp.innerHTML = "The password should be eight character long ";
      submitbol = false;
    } else {
      oldpassword.style.outline = "2px solid green";
      oldpasswordp.innerHTML = "Right";
      oldpasswordp.style.color = "green";
    }
     if (!confirmpassword.value) {
      confirmpassword.style.outline = "2px solid red";
      confirmpasswordp.innerHTML = "The confirm password should not be empty";
      submitbol = false;
    } else if (confirmpassword.value != password.value) {
      confirmpassword.style.outline = "2px solid red";
      confirmpasswordp.innerHTML = "The Passwords does not match";
      submitbol = false;
    } else {
      confirmpassword.style.outline = "2px solid green";
      confirmpasswordp.innerHTML = "Right";
      confirmpasswordp.style.color = "green";
    }
    if (submitbol) {
        form.submit()
    }
  });
  function togglepassword(input,eye) {
    if (input.type=="password") {
      input.type="text"
      eye.classList.replace("fa-eye-slash","fa-eye")
    }else{
      input.type="password"
      eye.classList.replace("fa-eye","fa-eye-slash")
    }
  }
  const passwordEye = document.getElementById("password-eye");
  const confirmpasswordEye = document.getElementById("confirmpassword-eye");
  const oldpasswordeye= document.getElementById("oldpassword-eye")
  passwordEye.addEventListener("click", function () {
    togglepassword(password,passwordEye)
  });
  confirmpasswordEye.addEventListener("click", function () {
    togglepassword(confirmpassword,confirmpasswordEye)
  });
  oldpasswordeye.addEventListener("click", function () {
    togglepassword(oldpassword,oldpasswordeye)
  });
</script>
