<% layout('layout/layout.ejs') -%>
<body>
    <form action="/forgetpassword" novalidate method="post" style="width: 80%; margin: auto;">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control mb-3" id="email" placeholder="Enter your Email">
            <p id="emailp" style="color: red;"></p>
        </div>
        <button class="btn btn-primary">Reset Password </button>
    </form>
</body>

<script>
    let form=document.querySelector("form")
    console.log(form)
    let email=document.getElementById("email")
    let emailp=document.getElementById("emailp")
    form.addEventListener("submit",function (e) {
        e.preventDefault()
        let submitbol=true; 
let gmailregular=/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
if (!email.value) {
   email.style.outline="2px solid red";
  emailp.innerHTML="The Email should not be empty "
  submitbol=false;
} else if (!gmailregular.test(email.value)) {
    email.style.outline="2px solid red";
  emailp.innerHTML="The invalid email "
  submitbol=false;
} else{
  email.style.outline="2px solid green";
  emailp.innerHTML="Right"
  emailp.style.color="green"
}
if (submitbol) {
    form.submit()
}
 })
</script>