<% layout('layout/layout.ejs') -%>
<style>
  #password-eye,
  #confirmpassword-eye {
    cursor: pointer;
    position: relative;
    left: 98%;
    bottom: 28px;
  }
</style>
<body>
    <form action="/resetpassword/<%= resettoken %>" method="post" style="width: 80%;" >
        <div class="main">
<div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
        />
        <i class="fa-solid fa-eye-slash" id="password-eye"></i>
        <p id="passwordp" style="color: red"></p>
      </div>
      <div class="mb-3">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          name="confirmpassword"
          class="form-control"
          id="confirmpassword"
          placeholder="Confirm Your Password"
        />
          <i class="fa-solid fa-eye-slash" id="confirmpassword-eye"></i>
        <p id="confirmpasswordp" style="color: red"></p>
      </div>
</div>
<button class="btn btn-secondary">Reset password</button>
    </form>
</body>
<script>
  let form=document.querySelector('form');
    const password = document.getElementById('password')
    const confirmpassword = document.getElementById('confirmpassword');
     const passwordp = document.getElementById('passwordp');
    const confirmpasswordp = document.getElementById('confirmpasswordp')
  form.addEventListener("submit",function (e) {
    e.preventDefault()
    let submitbol=true;
if (!password.value) {
  password.style.outline="2px solid red";
  passwordp.innerHTML="The password should not be empty"
  submitbol=false;
} else if (password.value.length<8) {
  password.style.outline="2px solid red";
  passwordp.innerHTML="The password should be eight character long "
  submitbol=false;
}else{
  password.style.outline="2px solid green";
  passwordp.innerHTML="Right"
  passwordp.style.color="green"
}
if (!confirmpassword.value) {
  confirmpassword.style.outline="2px solid red";
  confirmpasswordp.innerHTML="The confirm password should not be empty"
  submitbol=false;
} else if (confirmpassword.value!=password.value) {
  confirmpassword.style.outline="2px solid red";
  confirmpasswordp.innerHTML="The Passwords does not match"
  submitbol=false;
} else{
  confirmpassword.style.outline="2px solid green";
  confirmpasswordp.innerHTML="Right"
  confirmpasswordp.style.color="green"
}
  })
   function togglepassword(input,eye) {
    if (input.type=="password") {
      input.type="text"
      eye.classList.replace("fa-eye-slash","fa-eye")
    }else{
      input.type="password"
      eye.classList.replace("fa-eye","fa-eye-slash")
    }
  }
  const passwordEye = document.getElementById("password-eye");
  const confirmpasswordEye = document.getElementById("confirmpassword-eye");
  passwordEye.addEventListener("click", function () {
    togglepassword(password,passwordEye)
  });
  confirmpasswordEye.addEventListener("click", function () {
    togglepassword(confirmpassword,confirmpasswordEye)
  });
</script>