<% layout('layout/layout.ejs') -%>
<style>
  #password-eye,
  #confirmpassword-eye {
    cursor: pointer;
    position: relative;
    left: 98%;
    bottom: 28px;
  }
</style>
<body>
  <form action="/signup" method="post" novalidate enctype="multipart/form-data">
<label for="profile" style=" display: block; margin: auto; text-align: center;">
          <img
            src="https://res.cloudinary.com/diinrpqko/image/upload/v1721045318/Profile-picture/losfv0fauf2ja5jrdcpn.jpg"
            style="width: 200px; height: 200px;"
            id="showimage"
            alt="..."
          />
          <p>Add the another picture here</p>
          <p id="profilep" style="color: red;"></p>
        </label>
    <div style="width: 80%; margin: auto">
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input
          type="text"
          name="firstname"
          class="form-control"
          id="firstname"
          placeholder="First Name"
        />
        <p id="firstnamep" style="color: red"></p>
      </div>
      <div class="mb-3">
        <label for="secondname" class="form-label">Second Name</label>
        <input
          type="text"
          name="secondname"
          class="form-control"
          id="secondname"
          placeholder="Second Name"
        />
        <p id="secondnamep" style="color: red"></p>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          placeholder="Enter your Email"
        />
        <p id="emailp" style="color: red"></p>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
        />
        <i class="fa-solid fa-eye-slash" id="password-eye"></i>
        <p id="passwordp" style="color: red"></p>
      </div>
      <div class="mb-3">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          name="confirmpassword"
          class="form-control"
          id="confirmpassword"
          placeholder="Confirm Your Password"
        /> <i class="fa-solid fa-eye-slash" id="confirmpassword-eye"></i>
          
      </div>
      <div class="mb-3" style="display: none;">
        <label for="profile" class="form-label">Upload Your Profile <picture></picture></label>
        <input
          type="file"
          name="profile"
          class="form-control"
          id="profile"
        />
          <i class="fa-solid fa-eye-slash" id="confirmpassword-eye"></i>
        <p id="confirmpasswordp" style="color: red"></p>
      </div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/resendverificationtoken"
            >Did not find verification email Resend?</a
          >
        </li>
      </ol>
      <button class="btn btn-primary">Signup</button>
    </div>
  </form>
</body>
<script>
  const firstname = document.getElementById("firstname");
  const secondname = document.getElementById("secondname");
  const email = document.getElementById("email");
  const password = document.getElementById("password");
  const confirmpassword = document.getElementById("confirmpassword");
  const firstnamep = document.getElementById("firstnamep");
  const secondnamep = document.getElementById("secondnamep");
  const emailp = document.getElementById("emailp");
  const passwordp = document.getElementById("passwordp");
  const confirmpasswordp = document.getElementById("confirmpasswordp");
  const profile=document.getElementById("profile");

  const form = document.querySelector("form");
  form.addEventListener("submit", function (event) {
    event.preventDefault();
    let submitbol = true;
    if (!firstname.value) {
      firstname.style.outline = "2px solid red";
      firstnamep.innerHTML = "The first name should not be empty";
      submitbol = false;
    } else if (firstname.value.length < 3) {
      firstname.style.outline = "2px solid red";
      firstnamep.innerHTML = "The first name is too short ";
      submitbol = false;
    } else {
      firstname.style.outline = "2px solid green";
      firstnamep.innerHTML = "Right";
      firstnamep.style.color = "green";
    }

    if (!secondname.value) {
      secondname.style.outline = "2px solid red";
      secondnamep.innerHTML = "The second name should not be empty";
      submitbol = false;
    } else if (secondname.value.length < 3) {
      secondname.style.outline = "2px solid red";
      secondnamep.innerHTML = "The second name is too short ";
      submitbol = false;
    } else {
      secondname.style.outline = "2px solid green";
      secondnamep.innerHTML = "Right";
      secondnamep.style.color = "green";
    }
    let gmailregular = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
    if (!email.value) {
      email.style.outline = "2px solid red";
      emailp.innerHTML = "The Email should not be empty ";
      submitbol = false;
    } else if (!gmailregular.test(email.value)) {
      email.style.outline = "2px solid red";
      emailp.innerHTML = "The invalid email ";
      submitbol = false;
    } else {
      email.style.outline = "2px solid green";
      emailp.innerHTML = "Right";
      emailp.style.color = "green";
    }
    if (!password.value) {
      password.style.outline = "2px solid red";
      passwordp.innerHTML = "The password should not be empty";
      submitbol = false;
    } else if (password.value.length < 8) {
      password.style.outline = "2px solid red";
      passwordp.innerHTML = "The password should be eight character long ";
      submitbol = false;
    } else {
      password.style.outline = "2px solid green";
      passwordp.innerHTML = "Right";
      passwordp.style.color = "green";
    }
    if (!confirmpassword.value) {
      confirmpassword.style.outline = "2px solid red";
      confirmpasswordp.innerHTML = "The confirm password should not be empty";
      submitbol = false;
    } else if (confirmpassword.value != password.value) {
      confirmpassword.style.outline = "2px solid red";
      confirmpasswordp.innerHTML = "The Passwords does not match";
      submitbol = false;
    } else {
      confirmpassword.style.outline = "2px solid green";
      confirmpasswordp.innerHTML = "Right";
      confirmpasswordp.style.color = "green";
    }
    let typeallowed=["image/jpeg","image/jpg","image/png"];
    let type=profile.files[0].type;
    if (!typeallowed.includes(type)) {

      submitbol=false;
      showimage.style.outline="2px solid red"
      profilep.innerHTML="only jpg,jpeg and png format is allowed"
    }else{
      showimage.style.outline="none";
      profilep.innerHTML=""
    }
    if (submitbol) {
      form.submit();
    }
  });
  profile.addEventListener("change",function () {
      if (profile.files.length) {
       
        showimage.src = URL.createObjectURL(profile.files[0]);
      }else{
        showimage.src="https://res.cloudinary.com/diinrpqko/image/upload/v1721044995/Profile-picture/ypa7azp0aqstyfb6yadj.jpg"
      }
    })
  function togglepassword(input,eye) {
    if (input.type=="password") {
      input.type="text"
      eye.classList.replace("fa-eye-slash","fa-eye")
    }else{
      input.type="password"
      eye.classList.replace("fa-eye","fa-eye-slash")
    }
  }
  const passwordEye = document.getElementById("password-eye");
  const confirmpasswordEye = document.getElementById("confirmpassword-eye");
  passwordEye.addEventListener("click", function () {
    togglepassword(password,passwordEye)
  });
  confirmpasswordEye.addEventListener("click", function () {
    togglepassword(confirmpassword,confirmpasswordEye)
  });
</script>
